services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17 
    container_name: jenkins
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home  
      - /var/run/docker.sock:/var/run/docker.sock  
      - /usr/local/bin/docker:/usr/bin/docker
    user: root
    networks:
      - everypoll-net
  auth-service:
    build:     
      context: .
      dockerfile: authService/Dockerfile
    container_name: "auth-service"
    ports:
      - "8081:8081"
    depends_on:
      kafka:
        condition: service_healthy 
      auth-mysql:
        condition: service_started
      token-redis:
        condition: service_started
    restart: on-failure
    networks:
      - everypoll-net
    env_file:
      - ./authService/.env
  poll-service:
    build:
      context: .
      dockerfile: pollService/Dockerfile
    container_name: "poll-service"
    ports:
      - "8082:8082"
    depends_on:
      kafka:
        condition: service_healthy 
      poll-mysql:
        condition: service_started
    restart: on-failure
    networks:
      - everypoll-net
    env_file:
      - ./pollService/.env
  kafka:
    image: bitnami/kafka:4.0
    container_name: kafka
    ports:
      - "29092:29092"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=INTERNAL://:9092,EXTERNAL://:29092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL   
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server localhost:9092 --list"]
      interval: 15s
      timeout: 10s
      retries: 10
    networks:
      - everypoll-net
  poll-mysql:
    image: mysql:8.0
    container_name: poll-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: dyddlsch2014
      TZ: Asia/Seoul
    volumes:
      - poll_mysql_data:/var/lib/mysql
      - ./poll-init-scripts:/docker-entrypoint-initdb.d
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    networks:
      - everypoll-net
  auth-mysql:
    image: mysql:8.0
    container_name: auth-mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: dyddlsch2014
      TZ: Asia/Seoul
    volumes:
      - auth_mysql_data:/var/lib/mysql
      - ./auth-init-scripts:/docker-entrypoint-initdb.d
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    networks:
      - everypoll-net
  token-redis:
    image: redis:alpine
    container_name: token-redis
    ports: 
      - "6379:6379"
    volumes:
      - token_redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - everypoll-net

networks:
  everypoll-net:
    driver: bridge

volumes:
  poll_mysql_data:
  auth_mysql_data:
  token_redis_data: {}
  jenkins_home:
