services:
  jenkins:
    build:
      context: .
      dockerfile: jenkins-dockerfile/Dockerfile
    container_name: jenkins
    ports:
      - "9090:8080"
      - "50000:50000"
    user: "0:1"
    volumes:
      - jenkins_home:/var/jenkins_home  
      - /var/run/docker.sock:/var/run/docker.sock  
    networks:
      - everypoll-net
  auth-service:
    build:     
      context: .
      dockerfile: authService/Dockerfile
    container_name: "auth-service"
    ports:
      - "0.0.0.0:8081:8081"
    depends_on:
      kafka-kraft:
        condition: service_healthy 
      auth-mysql:
        condition: service_healthy
      token-redis:
        condition: service_healthy
    restart: on-failure
    networks:
      - everypoll-net
    env_file:
      - ./authService/.env
  poll-service:
    build:
      context: .
      dockerfile: pollService/Dockerfile
    container_name: "poll-service"
    ports:
      - "0.0.0.0:8082:8082"
    depends_on:
      kafka-kraft:
        condition: service_healthy 
      poll-mysql:
        condition: service_healthy
    restart: on-failure
    networks:
      - everypoll-net
    env_file:
      - ./pollService/.env
  kafka-kraft: 
    # image: confluentinc/cp-kafka:8.1.0.arm64 # 라즈베리파이용
    image: apache/kafka:4.1.1 # wsl용 
    container_name: kafka-kraft
    ports:
      # - "29092:29092" # 호스트 접근
      - "9092:9092" # 컨테이너간 통신
    environment:
      # 라즈베리파이 confluentinc/cp-kafka 용 설정
      # KAFKA_NODE_ID: 1
      # KAFKA_PROCESS_ROLES: "broker,controller"
      # KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://kafka-kraft:29093,PLAINTEXT_HOST://0.0.0.0:29092'
      # KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-kraft:9092,PLAINTEXT_HOST://localhost:29092' 
      # KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT' 
      # KAFKA_JMX_PORT: 9101 
      # KAFKA_JMX_HOSTNAME: localhost 
      # KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 
      # KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-kraft:29093' 
      # KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT' 
      # KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER' 
      # CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-kraft:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    healthcheck:
      # test: ["CMD-SHELL", "cat < /dev/null > /dev/tcp/localhost/9092"]
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit 1"]  
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - everypoll-net
  poll-mysql:
    image: mysql:8.0
    container_name: poll-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: dyddlsch2014
      TZ: Asia/Seoul
    volumes:
      - poll_mysql_data:/var/lib/mysql
      - ./poll-init-scripts:/docker-entrypoint-initdb.d
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 15s
      timeout: 30s
      retries: 10
    networks:
      - everypoll-net
  auth-mysql:
    image: mysql:8.0
    container_name: auth-mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: dyddlsch2014
      TZ: Asia/Seoul
    volumes:
      - auth_mysql_data:/var/lib/mysql
      - ./auth-init-scripts:/docker-entrypoint-initdb.d
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 15s
      timeout: 30s
      retries: 10
    networks:
      - everypoll-net
  token-redis:
    image: redis:alpine
    container_name: token-redis
    ports: 
      - "6379:6379"
    volumes:
      - token_redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - everypoll-net
#   bge-m3:
#     image: vllm/vllm-openai:latest
#     container_name: bge-m3
#     runtime: nvidia
#     environment:
#       - NVIDIA_VISIBLE_DEVICES=0
#       - LD_LIBRARY_PATH=/usr/lib/wsl/lib
#     ports:
#       - "8000:8000"
#     volumes:
#       - ${HOME}/.cache/huggingface:/root/.cache/huggingface
#       - /usr/lib/wsl/lib:/usr/lib/wsl/lib:ro
#     ipc: host
#     shm_size: '2gb'
#     command: >
#       --model BAAI/bge-m3
#       --dtype auto
#       --gpu-memory-utilization 0.12
#       --max-model-len 8192
#       --trust-remote-code
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
#       interval: 10s
#       timeout: 5s
#       retries: 30
#       start_period: 60s
#     deploy:
#       resources:
#         reservations:
#           devices:
#             - driver: nvidia
#               count: 1
#               capabilities: [gpu]
#     networks:
#       - everypoll-net
#   qwen3-8b-gptq-4bit:
#     image: vllm/vllm-openai:latest
#     container_name: qwen3-8b-gptq-4bit
#     depends_on:
#       bge-m3:
#         condition: service_healthy
#     deploy:
#       resources:
#         reservations:
#           devices:
#             - driver: nvidia
#               count: all
#               capabilities: [gpu]
#     ports:
#       - "8001:8000"
#     volumes:
#       - ${HOME}/.cache/huggingface:/root/.cache/huggingface
#       - /usr/lib/wsl/lib:/usr/lib/wsl/lib:ro  # WSL CUDA 라이브러리
#     environment:
#       - VLLM_ALLOW_RUNTIME_LORA_UPDATING=1
#       - LD_LIBRARY_PATH=/usr/lib/wsl/lib  # WSL CUDA 라이브러리 경로
#       - NVIDIA_VISIBLE_DEVICES=all
#     command: >
#       --model pkun2/qwen3_4bit_mixed_kr_2_gptq
#       --gpu-memory-utilization 0.7
#       --max-model-len 8192
#       --enable-auto-tool-choice
#       --tool-call-parser hermes
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
#       interval: 10s
#       timeout: 5s
#       retries: 30
#       start_period: 60s  
#     networks:
#       - everypoll-net
#   rag-agent:
#     build: ./rag-agent
#     container_name: rag-agent
#     ports:
#       - "8002:8000"
#     environment:
#       - EMBEDDING_API_URL=http://bge-m3:8000/v1
#       - LLM_API_URL=http://qwen3-8b-gptq-4bit:8000/v1
#     depends_on:
#       bge-m3:
#         condition: service_healthy
#       qwen3-8b-gptq-4bit: 
#         condition: service_healthy
#     networks:
#       - everypoll-net
#     command: python rag_agent.py
networks:
  everypoll-net:
    driver: bridge
volumes:
  poll_mysql_data:
  auth_mysql_data:
  token_redis_data: {}
  jenkins_home:
